@if (product) {
<!-- <mat-card
  appearance="raised"
  routerLink="/shop/{{ product.id }}"
  class="product-card"
>
  <img
    mat-card-image
    src="{{ baseUrl }}images/products_real/images/{{ product.imageUrl }}"
    alt="Product image"
  />
  <mat-card-content class="mt-2">
    <h2 class="text-sm font-semibold uppercase">{{ product.name }}</h2>
    <p class="font-light">{{ product.price | currency }}</p>
  </mat-card-content>
  <mat-card-actions (click)="$event.stopPropagation()">
    <button
      mat-stroked-button
      class="w-full"
      (click)="cartService.addItemToCart(product)"
    >
      <mat-icon>add_shopping_cart</mat-icon>
      Add to cart
    </button>
  </mat-card-actions>
</mat-card> -->
<div
  class="relative flex flex-col bg-transparent nc-ProductCard no-border no-shadow product-card rounded-3xl"
  [routerLink]="'/shop/' + product.id"
>
  <div
    class="relative flex-shrink-0 bg-slate-50 dark:bg-slate-300 rounded-3xl overflow-hidden z-1 group"
  >
    <a class="block" [routerLink]="'/shop/' + product.id">
      <img
        class="object-cover w-full h-full drop-shadow-xl"
        [src]="baseUrl + 'images/products_real/images/' + product.imageUrl"
        alt="Product image"
      />
    </a>
  </div>

  <div class="space-y-4 px-2.5 pt-5 pb-2.5">
    <div>
      <h2
        class="nc-ProductCard__title text-base font-semibold transition-colors"
      >
        {{ product.name }}
      </h2>
      <p class="text-sm text-slate-500 dark:text-slate-400 mt-1">
        {{ product.brand }}
      </p>
    </div>
    <div class="flex justify-between items-end">
      <div
        class="flex items-center border-2 border-green-500 rounded-lg py-1 px-2 md:py-1.5 md:px-2.5 text-sm font-medium"
      >
        <span class="text-green-500 !leading-none">
          {{ product.price | currency }}
        </span>
      </div>
      <div class="flex items-center mb-0.5">
        <mat-icon class="w-5 h-5 pb-[1px] text-amber-400">star</mat-icon>
        <span class="text-sm ms-1 text-slate-500 dark:text-slate-400">
          {{ 4.9 || "" }} ({{ 98 || 0 }} reviews)
        </span>
      </div>
    </div>
  </div>

  <div class="mt-2">
    <button class="w-full" (click)="cartService.addItemToCart(product)">
      <mat-icon>add_shopping_cart</mat-icon>
      Add to cart
    </button>
  </div>
</div>

}
