@if (product) {
<div
  class="relative flex flex-col bg-transparent nc-ProductCard no-border no-shadow product-card rounded-3xl"
>
  <div
    class="relative flex-shrink-0 bg-slate-50 dark:bg-slate-300 rounded-3xl overflow-hidden z-1 group"
  >
    <a class="block" [routerLink]="'/shop/' + product.id">
      <img
        class="object-cover w-full h-full drop-shadow-xl"
        [src]="product.imageUrl"
        alt="Product image"
      />
    </a>

    <div
      class="absolute bottom-0 left-1/2 transform -translate-x-1/2 mb-4 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-all"
    >
      <button
        class="bg-slate-900 dark:bg-slate-100 hover:bg-slate-800 text-slate-50 dark:text-slate-800 py-2 px-4 text-xs shadow-lg flex items-center justify-center rounded-full"
        (click)="cartService.addItemToCart(product)"
      >
        <mat-icon class="w-5 h-5 mr-2">add_shopping_cart</mat-icon>
        <!-- Đổi kích thước icon -->
        <span>Add to bag</span>
      </button>
    </div>
  </div>

  <div class="space-y-4 px-2.5 pt-5 pb-2.5">
    <div>
      <h2
        class="nc-ProductCard__title text-base font-semibold transition-colors"
      >
        {{ product.name }}
      </h2>
      <p class="text-sm text-slate-500 dark:text-slate-400 mt-1">
        {{ product.brand }}
      </p>
    </div>
    <div class="flex justify-between items-end">
      <div
        class="flex items-center border-2 border-green-500 rounded-lg py-1 px-2 md:py-1.5 md:px-2.5 text-sm font-medium"
      >
        <span class="text-green-500 !leading-none">
          {{ product.price }} VND
        </span>
      </div>
      <div class="flex items-center mb-0.5">
        <mat-icon class="w-5 h-5 pb-[1px] text-amber-400">star</mat-icon>
        <span class="text-sm ms-1 text-slate-500 dark:text-slate-400">
          {{ 4.9 || "" }} ({{ 98 || 0 }} reviews)
        </span>
      </div>
    </div>
  </div>

  <div class="h-10"></div>
</div>

}
